/* 

---01 TYPOGRAPHY SYSTEM


-FONT SIZE (PX):
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98


-font weight:
Default:400
Medium: 500
Semi-bold: 600
Bold: 700

-Line height:
Default:1
Small: 1.05
Paragraph Default: 1.6
medium:1.2



----02 COLORS

-primary color: 



-Tints: 

-Shades:
-Accents:
-Greys:


--04 Letter-spacing
-0.5px
0.75px

---05 SHADOWS

---06 BORDER-RADIUS
Default: 9px

---07 WHITESPACES

---SPACING SYSTEM: 
2/4/8/12/16/24/32/48/64/80/96/120

*/

/* **********"" */
/* GENERAL STYLES */
/* ****************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
/* **********"" */
/* Headings */
/* ****************** */
.header {
    padding: 32px 0 48px 0;
    background-image: url(/images/bg-header-desktop.png);
    background-size: cover;
}
.heading-primary {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 32px;
}
.heading-secondary,
.heading-primary, .heading-tertiary {
    font-weight: 600;
    color: #333;
    letter-spacing: -0.5px;
}
.heading-secondary{
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.heading-tertiary{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 12px;
}
.heading-access{
    font-size: 30px;
    line-height: 1.2;
}

/* ******************** */

/* **********"" */
/* Section-Hero */
/* ****************** */
.section-hero{
    padding: 0 0 96px 0;
}
.hero-description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 32px;
}
.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    
    color: white;
    padding: 16px 32px;
    border-radius: 100px;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.08);

}

/* **************************** */
/* **********"" */
/* Section-how */
/* ****************** */
.secion-how{
    padding: 0 0 96px 0;
}

.services{
    padding: 32px 0 32px 0;
}

.service-img{
    width: 80%;
    justify-self: center;
}

/* **********"" */
/* Section-access */
/* ****************** */

.access-img{
    width: 50%;
    align-self: center;
}
/* ********************** */

/* **********"" */
/* Section-workflow */
/* ****************** */

.section-workflow{
    padding: 0 0 94px 0;
}


/* **********"" */
/* Section-workflow */
/* ****************** */
.section-featured {
    padding: 0 0 94px 0;
}

.logo {
    height: 26px;
    display: flex;
    justify-content: space-between;
    
}


.section-download{
    padding: 0 0 94px 0;
}

/* **********"" */
/* Section-footer */
/* ****************** */
.footer{
    background-color: #f1f1f1;
}
.footer-img{
   width: 10%;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    list-style: none;
}
.link:link,
.link:visited{
    text-decoration: none;
    color: #333;
    display: block;
}
/************************ */
/* Reusable grids */
/* *********************** */
.grid {
    display: grid;
    column-gap: 64px;
    row-gap: 94px;
}
.justify-self {
    justify-self: center;
}

.flex{
    display: flex;
    flex-direction: column;
}
.gap{
    gap: 16px;
}
.flex-footer {
    display: flex;

}
.grid-v {
    display: grid;
    gap: 12px;
    align-items: center;
}
.grid--2-col{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-col{
    grid-template-columns: repeat(3, 1fr);
}
.grid--4-col{
    grid-template-columns: repeat(4, 1fr);
}
.grid--5-col{
    grid-template-columns: repeat(5, 1fr);
}
.grid--2-row {
    grid-template-rows: repeat(2, 1fr);
}
.grid--3-row {
    grid-template-rows: repeat(3, 1fr);
}
.grid--col-v{
    align-items: center;
}
.grid-col-j {
    justify-content: space-between;
}
/**************************** */
/* **********"" */
/* Reusable class */
/* ****************** */
.container{
    /* 1140px */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}
.container--feat{
    /* 1140px */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 32px 0;
}
.container--sec{
    /* 1140px */
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 32px 0;
}
.container--track{
    /* 1140px */
    max-width: 500px;
    padding: 0 0 14px 0;
}
.center-text {
    text-align: center;
}

.btn--left {
    background-color: hsl(171, 66%, 44%);
}
.btn--left:hover,
.btn--left:active{
    background-color: hsl(171, 74%, 35%);
}
.btn--right{
    background-color: hsl(233, 100%, 69%);
}
.btn--right:hover,
.btn--right:active{
    background-color: hsl(233, 61%, 40%);
}
.description{
    font-size: 20px;
    line-height: 1.5;
    
}
.description--sec{
    font-size: 20px;
    line-height: 1.5;
}
.margin-bottom-sm {
    margin-bottom: 32px;
}